/* Activity.css */

.class-container {
  padding: 0.95rem 1rem;
  border-radius: 0.5rem;
  transition: all 0.3s;
  cursor: pointer;
  background-color: #fff;
  margin: 4px;
}

.class-container.active {
  background-color: #9bcfff;
}

.class-container-full {
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  transition: all 0.3s;
  background-color: #efefef;
}

.class-container:hover {
  background-color: #adabab;
}

.class-container:not(.active):hover {
  background-color: #9bcfff;
}

.class-info {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}

.class-time {
  background-color: gray;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  margin: 4px 2px;
  height: fit-content;
  border-radius: 32px;
  font-size: 0.9rem;
  font-weight: 650;
}

.class-name {
  font-weight: 750;
  font-size: 1.2rem;
  color: #000000;
  padding-bottom: 0.2rem;
  text-align: center;
}

.class-image {
  width: 49%;
}

.class-room-instructor {
  display: flex;
  gap: 0.5rem;
  font-size: 0.75rem;
  line-height: 1.25rem;
  color: #00000066;
  font-weight: 500;
  font-style: italic;
  text-align: center;
  justify-content: center;
}

.class-location-center {
  display: flex;
  gap: 0.5rem;
  font-size: 0.75rem;
  line-height: 1.25rem;
  color: #00000066;
  font-weight: 500;
  font-style: italic;
  padding-bottom: 0.2rem;
  text-align: center;
  justify-content: center;
}

.book-button-container {
  padding-top: 0.70rem;
  flex: 1 1 0%;
  text-align: center;
  font-size: 1.25rem;
}

.class-location-size {
  display: flex;
  gap: 0.2rem;
  font-size: 0.75rem;
  line-height: 1.25rem;
  font-weight: 550;
  text-align: right;
  justify-content: center;
}

.class-full {
  display: flex;
  gap: 0.2rem;
  font-size: 0.85rem;
  line-height: 1.25rem;
  color: red;
  text-align: right;
}