/* Activity.css */

.class-container {
  display: flex;
  justify-content: space-between;
  border-radius: 0.5rem;
  transition: all 0.3s;
  cursor: pointer;
  background-color: #fff;
  margin: 4px;
}

.class-container.active {
  background-color: #9bcfff;
}

.class-container-full {
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  transition: all 0.3s;
  background-color: #efefef;
}

.class-container:hover {
  background-color: #adabab;
}

.class-container:not(.active):hover {
  background-color: #9bcfff;
}

.class-info {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.class-time {
  background-color: gray;
  width: fit-content;
  color: white;
  padding: 5px 10px;
  text-decoration: none;
  height: fit-content;
  border-radius: 8px;
  font-size: 0.7rem;
  font-weight: 650;
  margin-bottom: 0.5rem;
}

.class-name {
  padding-top: 10px;
  font-weight: 750;
  font-size: 1.2rem;
  color: #000000;
  margin-bottom: 0.5rem;
}

.class-image {
  width: 33%;
}

.class-data {
  width: 64%;
}

.class-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.class-room-instructor {
  display: flex;
  gap: 0.5rem;
  font-size: 0.73rem;
  line-height: 1.25rem;
  font-weight: 500;
}

.class-location-center {
  display: flex;
  gap: 0.5rem;
  font-size: 0.73rem;
  line-height: 1.25rem;
  font-weight: 500;
  margin-bottom: 0.75rem;
}

.class-center {
  color: #000000;
  font-weight: bold;
}

.class-location-book-button {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.book-button-container {
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
}

.class-location-size {
  display: flex;
  gap: 0.2rem;
  font-size: 0.6rem;
  line-height: 1.25rem;
  padding-bottom: 10px;
}

.class-full {
  display: flex;
  gap: 0.2rem;
  font-size: 0.85rem;
  line-height: 1.25rem;
  color: red;
  text-align: right;
}