/* Button.css */

.button {
  background-color: #ff620a;
  font-weight: 700;
  padding: 0.5rem 0.75rem;
  border-radius: 1rem;
  font-size: 0.875rem;
  transition: all 0.3s;
  font-size: 0.65rem;
  word-wrap: break-word;
  border-color: #ff620a;
  border-width: 0;
}

.button:hover {
  filter: brightness(1.30);
}

.button.disabled {
  filter: none;
}