/* Button.css */

.button {
  background-color: #000000;
  font-weight: 700;
  padding: 0.5rem 0.75rem;
  border-radius: 1rem;
  transition: all 0.3s;
  font-size: 0.66rem;
  word-wrap: break-word;
  border-color: #000000;
  border-width: 0px;
  color: #ffffff;
}

.button:hover {
  filter: brightness(1.30);
  background-color: #ff620a;
  color: #000000;
}

.button.disabled {
  filter: none;
}