/* Button.css */

.button {
  font-weight: 700;
  padding: 0.5rem 0.75rem;
  border-radius: 1rem;
  transition: all 0.3s;
  font-size: 0.65rem;
  word-wrap: break-word;
  background-color: unset;
  border-style: solid;
}

.button:hover {
  background-color: black;
  color: white;
}

.button.disabled {
  filter: none;
}