/* Booking.css */

.booking-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  max-width: 750px;
  margin: auto;
}

.booking-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.booking-form-header h2 {
  text-align: center;
  padding-bottom: 1rem;
}

.booking-form-map {
  background-image: url("../../assets/map.png");
  background-size: cover;
  border-radius: 10px;
  height: 200px;
  width: 500px;
  max-width: 80%;
}

.booking-form-time {
  text-align: center;
  margin: 20px auto;
  margin-bottom: 20px;
  margin-bottom: 15px;
  border-radius: 3rem;
  padding: 8px;
  background-color: #9bcfff;
  width: 300px;
  color: #000;
  font-size: 0.75rem;
}

.booking-form-inputs input {
  width: calc(50% - 10px);
  padding: 10px;
  margin: 5px;
  border: none;
  border-radius: 20px;
  font-size: 0.8rem;
}

.booking-form-consent {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.booking-form-consent input[type="checkbox"] {
  margin-right: 20px;
}

.booking-form-consent label {
  padding-left: 10px;
  font-size: 0.75rem;
}

.booking-form-consent input[type="checkbox"] {
  margin-right: 10px;
}

.booking-form-actions {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.booking-form-button {
  padding: 10px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 700;
}

.booking-form-button:hover {
  filter: brightness(1.25);
}

.booking-form-cancel {
  width: 150px;
  background-color: #e9e9e9e9;
  color: #000;
}

.booking-form-submit {
  width: 150px;
  background-color: #e74c3c;
  color: #000;
}

.booking-form-confirmation-content {
  text-align: center;
  padding-bottom: 1rem;
}

.booking-form-confirmation-content p {
  text-align: center;
  padding-bottom: 1rem;
}

.booking-form-confirmed-class {
  text-decoration: underline;
}

.booking-form-back-button {
  width: 200px;
  background-color: #e74c3c;
  color: #000;
  cursor: pointer;
}

.booking-form-loading {
  height: 210px;
  text-align: center;
  padding-top: 3rem;
  animation: pulse 2s infinite;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  font-size: 20px;
  font-weight: bolder;
}

.booking-form-loading-spinner {
  margin-top: 3rem;
  height: 50px;
  width: 50px;
  border: 10px solid #ccc;
  border-right-color: #16072d;
  border-radius: 50%;
  animation: rotate 1.5s linear infinite;
}