/* Dashboard.css */

.dashboard-wrapper {
  display: flex;
  flex-direction: row;
  height: 100%;
  overflow-y: hidden;
}

.dashboard-container {
  flex: 1;
  overflow: auto;
  padding: 2rem;
  height: 100%;
  overflow-y: scroll;
}

@keyframes pulse {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }
}

.dashboard-loading {
  height: 210px;
  text-align: center;
  padding-top: 3rem;
  animation: pulse 2s infinite;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
}

.dashboard-loading-spinner {
  margin-top: 2rem;
  height: 100px;
  width: 100px;
  border: 10px solid #ccc;
  border-right-color: #16072d;
  border-radius: 50%;
  animation: rotate 1.5s linear infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

.sections-container {
  display: flex;
  padding-top: 2rem;
  flex-direction: row;
}

.sections-container-stacked {
  display: flex;
  padding-top: 0.5rem;
  flex-direction: column;
}

.section {
  display: flex;
  flex-direction: column;
  flex: 1 1 0%;
  gap: 0.7rem;
  border-right: 2px solid #ececec;
  padding-right: 0.35rem;
  padding-left: 0.35rem;
}

.section-stacked {
  display: flex;
  flex-direction: column;
  flex: 1 1 0%;
  gap: 0.5rem;
  padding-bottom: 0.5rem;
}

.section:last-child {
  border-right: none;
}

.dashboard-map {
  border-radius: 0.5rem 0rem 0rem 0.5rem;
  min-width: 60%;
  display: flex;
  flex-direction: column;
  background-image: url("../../assets/map.png");
  background-size: cover;
}