/* FilterWindow.css */
.filter-window-container {
  width: 474px;
  height: 477px;
  gap: 16px;
  position: fixed;
  top: 2;
  right: 0;
  /* left: 1; */
  border: 2px solid rgb(245, 147, 190);
  border-radius: 10px 10px 16px 16px;
  padding: 2px;
  font-size: 12px;
}

.filter-window-header {
  width: 100%;
  height: 72px;
  padding: 24px 32px;
  gap: 10px;
  background: #16072d;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.close-icon {
  width: 24px;
  height: 24px;
  float: right;
  cursor: pointer;
}

.filter-window-body {
  width: 86%;
  margin: auto;
}

.filter-window-body-container {
  width: 100%;
  height: 330px;
  background-color: white;
  border: 1px solid #ccc;
}

.filter-window-clickable-text {
  font-size: 12px;
}

.under-plusCross-container {
  padding-bottom: 30px;
}


div.filter-window-intensity {
  height: 48px;
  margin-top: 16px;
}

div.filter-window-types {
  height: 80px;
  margin-top: 16px;
}

p {
  padding-bottom: 10px;
}

.filter-plus-cross-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.filterIcon {
  width: 10.67px;
  height: 12px;
  margin-right: 5px;
}

.filter-dropdown-container {
  width: 100%;
}

.filter-dropdown {
  width: 100%;
  height: 45px;
  padding: 12px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

select.filter-dropdown1 {
  margin-top: 32px;
}

select.filter-dropdown2 {
  margin-top: 16px;
}

.filter-label {
  font-size: 12px;
  margin-top: 16px;
}

.filter-window-footer {
  width: 100%;
  height: 67px;
  padding: 16px 32px;
  gap: 16px;
  text-align: right;
  background-color: white;
  border: 1px solid rgb(136, 136, 136);
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  display: flex;
  justify-content: flex-end;
}

.footer-button {
  /* width: 62px; */
  height: 35px;
  background: #ff620a;
  border-radius: 16px;
  border: none;
  cursor: pointer;
  font-weight: 500;
  justify-content: center;
}

.footer-button:hover {
  background: #ffb488;
}

.button-with-icon {
  display: flex;
  align-items: center;
  padding: 8px, 12px, 8px, 12px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  /* width: 81px; */
  font-weight: 500;
  /* justify-content: center; */
}

.button-without-icon {
  display: flex;
  align-items: center;
  /* position: relative; */
  padding: 8px, 12px, 8px, 12px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  /* width: 62px; */
  font-weight: 500;
}

.button-container {
  display: flex;
  align-items: center;
}

.icon {
  position: absolute;
  top: 50%;
  right: 10px;
  /* Adjust the distance from the right side */
  transform: translateY(-50%);
  width: 20px;
  /* Adjust width of the icon */
  height: auto;
}