/* Layout.css */

.layout-container {
  display: flex;
  padding-left: 4rem;
  padding-right: 4rem;
  padding-bottom: 2rem;
  padding-top: 4rem;
  flex-direction: column;
  gap: 1rem;
  height: 100vh;
}

/* Logo container styles */
.logo-container {
  display: flex;
  flex: 1 1 0;
  justify-content: center;
  padding-bottom: 1rem;
}

.logo-container img {
  height: 2.5rem;
  flex-grow: 0;
  text-align: center;
  color: #fff;
}

/* Content container styles */
.content-container {
  flex: 1 1 0;
  border-radius: 0.5rem;
  background-color: #f9f9f9;
  height: 100%;
  overflow: auto;
}

.booking-content-container {
  flex: 1 1 0;
  border-radius: 0.5rem;
}

.header-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 1rem;
  height: 3.5rem;
}

.toggle-container-language {
  display: flex;
  border-radius: 2rem;
  border-color: 443e4d;
  border-width: 1px;
  padding: 0.5rem 0.6rem;
  background-color: #443e4d;
  cursor: pointer;
  justify-content: space-between;
}

.toggle-container-language select {
  background-color: #443e4d;
  border-color: #443e4d;
  color: #fff;
}

.toggle-container {
  display: flex;
  border-radius: 2rem;
  border-color: #000000;
  border-width: 1px;
  padding: 0.5rem 0.6rem;
  background-color: #f9f9f9;
  cursor: pointer;
  justify-content: space-between;
}

.toggle-container select {
  background-color: #443e4d;
  border-color: #443e4d;
  color: #fff;
}

.toggle-container svg {
  margin: 4px;
  color: #000000;
  width: 25px;
  height: 25px;
}

.toggle-container span {
  padding: 2px;
}

.toggle-active {
  background-color: #9bcfff;
  border-radius: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggle-inactive {
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggle-active svg {
  color: #16072d;
}