/* WeeklyAgenda.css */

.agenda-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1 1 0%;
}

.agenda-header {
  display: flex;
  flex-direction: row;
  flex: 1 1 0%;
  padding-bottom: 1rem;
  align-items: center;
}

.agenda-container {
  display: flex;
  flex-direction: row;
  flex: 1 1 0%;
  align-items: center;
  border-radius: 0.5rem;
  transition-duration: 300ms;
  cursor: pointer;
}

.agenda-navigation {
  padding: 0.5rem 1rem 0.5rem 0.2rem;
  cursor: pointer;
}

.agenda-date {
  display: flex;
  flex: 1 1 0%;
}

.agenda-date span {
  font-weight: 500;
  padding-right: 4px;
}

.filters-container {
  display: flex;
}

.filters-button {
  display: flex;
  border-radius: 1rem;
  border: 1px solid #ececec;
  padding: 0.7rem 1rem;
  background-color: #f9f9f9;
  align-items: center;
}

.filters-button svg {
  margin-right: 7px;
}

.filters-button:hover {
  background-color: #eee;
  cursor: pointer;
}

.agenda-item {
  display: flex;
  padding: 0.5rem;
  flex-direction: column;
  flex: 1 1 0%;
  align-items: center;
  border-radius: 0.5rem;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  transition-duration: 300ms;
  cursor: pointer;
}

.agenda-item:hover {
  background-color: #ff620a;
}

.agenda-item-active {
  background-color: #000000;
  color: #ffffff;
}

.agenda-item-active:hover {
  background-color: #ff620a;
  filter: brightness(125%);
  color: #000000;
}

.agenda-item-inactive-today {
  background-color: #9bcfff;
}

.agenda-item-inactive-today:hover {
  background-color: #e1f5fe;
  filter: brightness(95%);
}

.agenda-item-day {
  font-size: 1.125rem;
  font-weight: 500;
}

.agenda-item-month {
  font-size: 0.75rem;
}

.agenda-month {
  display: flex;
  flex-direction: row;
  flex: 1 1 0%;
  padding-top: 1rem;
  justify-content: center;
  align-items: center;
  padding-bottom: 0.8rem;
  border-bottom: 1px solid #ececec;
}

.agenda-month-name {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  width: 130px;
}

.agenda-month-navigation {
  padding: 0.5rem;
  cursor: pointer;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: large;
}

.disabled {
  cursor: not-allowed;
}