/* FilterCondition.css */

.filter-condition-container {
  display: flex;
  flex-direction: row;
  gap: 2px;
  align-items: center;
}

.cross-icon,
.plus-icon {
  width: 12px;
}

div.svg-container svg {
  margin-right: 2px;
}

div.cross-box {
  background-color: #000;
  color: #FFFFFF;
  border-radius: 16px;
  display: inline-flex;
  align-items: center;
  font-size: 12px;
  height: 24px;
  padding: 8px 8px 8px 16px;
  line-height: 21px;
  cursor: pointer;
  flex-direction: row-reverse;
  display: inline-flex;
  justify-content: center;
  gap: 7px;
}

div.plus-box {
  background-color: #FFFFFF;
  color: #000000;
  border-radius: 16px;
  display: inline-flex;
  align-items: center;
  font-size: 12px;
  height: 24px;
  padding: 8px 8px 8px 16px;
  line-height: 21px;
  cursor: pointer;
  border-color: rgba(0, 0, 0, 0.3);
  border-style: solid;
  border-width: 0.5px;
  flex-direction: row-reverse;
  gap: 10px;
  justify-content: center;
}