/* FilterCondition.css */

.filter-condition-container {
  display: flex;
  flex-direction: row;
  gap: 2px;
  align-items: center;
}

.cross-icon,
.plus-icon {
  width: 12px;
}

div.svg-container svg {
  margin-right: 2px;
}

div.cross-box {
  background-color: #e1f5fe;
  color: #01579b;
  border-radius: 16px;
  display: flex;
  align-items: center;
  font-size: 12px;
  height: 24px;
  padding: 4px 8px 4px 4px;
  cursor: pointer;
}

div.plus-box {
  background-color: #eeeeee;
  color: #424242;
  border-radius: 16px;
  display: flex;
  align-items: center;
  font-size: 12px;
  height: 24px;
  padding: 4px 8px 4px 4px;
  cursor: pointer;
}